## Imports

In [3]:
import pandas as pd

## Data import

In [9]:
base_data = pd.read_fwf("./Data/Calibration.txt")
first_data = pd.read_fwf("./Data/Run1.txt")
second_data = pd.read_fwf("./Data/Run2.txt")

## Line Spliting

In [10]:
base_data = base_data.iloc[5:]
first_data = first_data.iloc[5:]
second_data = second_data.iloc[5:]

In [6]:
base_data

                                  %OpenBCI Raw EEG Data
5     1, 76785.41, 48923.41, 90209.45, 55373.92, 470...
6     2, 153681.02, 97845.95, 181426.16, 111398.52, ...
7     3, 153630.63, 97853.54, 182178.42, 111263.02, ...
8     4, 153671.19, 97847.71, 181093.42, 111301.49, ...
9     5, 153653.94, 97859.22, 182519.22, 111378.00, ...
...                                                 ...
3996  24, 157803.09, 99122.36, 180521.33, 112237.96,...
3997  25, 157839.52, 99143.84, 183006.00, 112707.70,...
3998  26, 157791.05, 99120.95, 180298.11, 112126.20,...
3999  27, 157865.31, 99147.26, 183184.52, 112801.38,...
4000  28, 157784.13, 99127.79, 180161.67, 112041.09,...

[3996 rows x 1 columns]

In [11]:
base_data.columns = ["Data"]
first_data.columns = ["Data"]
second_data.columns = ["Data"]

In [12]:
base_data = base_data.Data.str.split(" ",expand=True,)
first_data = first_data.Data.str.split(" ",expand=True,)
second_data = second_data.Data.str.split(" ",expand=True,)

## Deleting the first column

In [13]:
del base_data[base_data.columns[0]]
del first_data[first_data.columns[0]]
del second_data[second_data.columns[0]]

## Now we only have the clean data!

In [19]:
first_data.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
5,"143252.55,","97708.21,","180682.67,","111989.16,","99479.97,","85805.35,","144670.41,","77522.73,","48818.29,","46889.67,",...,"55964.00,","67808.57,","52225.63,","52246.78,","93749.98,","0.000,","0.000,","0.000,","16:10:40.000,",1582747840000
6,"69754.98,","45737.88,","93749.98,","55559.77,","50286.95,","41463.11,","71765.88,","37513.71,","97196.60,","93549.27,",...,"114362.36,","134039.61,","102488.55,","103546.73,","187500.00,","-0.710,","0.648,","0.142,","16:15:25.224,",1582748125224
7,"139409.55,","91475.27,","185935.53,","110531.79,","100573.52,","82947.81,","143543.80,","75060.42,","97165.40,","93540.73,",...,"113887.12,","134009.50,","102496.31,","103458.47,","187500.00,","0.000,","0.000,","0.000,","16:15:25.231,",1582748125231
8,"139482.19,","91474.69,","186442.98,","110846.43,","100578.82,","82945.16,","143555.30,","75058.01,","97203.73,","93564.38,",...,"114418.06,","134043.86,","102504.07,","103568.57,","187500.00,","0.000,","0.000,","0.000,","16:15:25.237,",1582748125237
9,"139428.97,","91484.08,","186216.94,","110604.90,","100569.15,","82966.88,","143547.61,","75082.77,","97168.22,","93543.50,",...,"113859.27,","133993.78,","102504.11,","103425.67,","187500.00,","-0.740,","0.608,","0.164,","16:15:25.244,",1582748125244

In [20]:
second_data.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
5,"71285.99,","46661.05,","91894.34,","54954.31,","50832.71,","42499.20,","72404.77,","37918.06,","97846.10,","94963.71,",...,"112558.13,","135011.33,","104677.71,","103254.70,","187500.00,","0.000,","0.000,","0.000,","16:16:14.307,",1582748174307
6,"142616.70,","93312.70,","183535.86,","110078.80,","101666.13,","84987.88,","144806.64,","75814.99,","97874.64,","95003.34,",...,"113220.68,","135068.91,","104693.91,","103425.50,","187500.00,","0.000,","0.000,","0.000,","16:16:14.314,",1582748174314
7,"142628.88,","93320.90,","185140.31,","110299.17,","101656.06,","84982.88,","144796.55,","75817.72,","97851.84,","94964.60,",...,"112583.70,","135006.61,","104675.65,","103251.17,","187500.00,","0.000,","0.000,","0.000,","16:16:14.322,",1582748174322
8,"142611.39,","93316.43,","183303.98,","110015.22,","101672.56,","84993.45,","144813.02,","75827.58,","97877.05,","95011.32,",...,"113194.21,","135073.52,","104690.23,","103433.34,","187500.00,","-0.790,","0.558,","0.176,","16:16:14.330,",1582748174330
9,"142647.27,","93330.16,","185365.45,","110396.20,","101675.34,","84996.02,","144817.02,","75832.72,","97853.25,","94963.87,",...,"112627.64,","135013.34,","104684.21,","103266.24,","187500.00,","0.000,","0.000,","0.000,","16:16:14.338,",1582748174338